GIT_PROJECT_DIRECTORIES=../my-repo
IGNORE_FILES=.env,package-lock.json,.DS_Store,.gitignore,.gitattributes,.gitmodules,.git,.idea,.vscode,.vs,.nuxt,__init__.py,yarn.lock
IGNORE_FILE_TYPES=.png,.jpg,.jpeg,.gif,.svg,.pdf,.doc,.docx,.xls,.xlsx,.ppt,.pptx,.mp4,.mov,.avi,.mp3,.wav,.zip,.tar,.gz,.tgz,.bz2,.rar,.7z,.exe,.dll,.so,.dylib,.a,.o,.obj,.lib,.pdb,.apk,.ipa,.dmg,.app,.iso,.bin,.jar,.war,.ear,.class,.psd,.ai,.sketch,.fig,.xd,.pdf,.doc,.docx,.xls,.xlsx,.ppt,.pptx,.mp4,.mov,.avi,.mp3,.wav,.zip,.tar,.gz,.tgz,.bz2,.rar,.7z,.exe,.dll,.so,.dylib,.a,.o,.obj,.lib,.pdb,.apk,.ipa,.dmg,.app,.iso,.bin,.jar,.war,.ear,.class,.psd,.ai,.sketch,.fig,.xd,.pyc,.pptx,.pcss,.log
IGNORE_DIRS=migrations,node_modules,.git,upgrades,data,initial_data,static,templates,template_tags,customer,themes,tests,upgrade,cache,dist,cypress,.yarn,storybook,dhtmlx,stories,styles,docs,cli,provision
SAVE_DIRECTORY=training_data
SKIP_EMPTY_FILES=true